:root {
  --background1: rgb(17, 17, 30);
  --background2: rgb(25,25,45);
  --textColor1: rgb(160, 230, 255);
  --linkColor: rgb(120, 190, 130);
}

* {margin: 0}

body {
  margin: 0;
  padding: 0;
  font-family:'Times New Roman', Times, serif;
  color: var(--textColor1);
  background-color: var(--background1);
}

/* total 15 vh in min-height*/
header {
  padding: 1vh;
  min-height: 13vh;
  background-image: linear-gradient(
    transparent, 
    var(--background2) 1vh, 
    var(--background2) calc(100% - 1vh), 
    transparent
    );
  text-align: center;
}

/* total 68 vh in min-height*/
main {
  margin: 0;
  background-image: linear-gradient(
    transparent, 
    var(--background2) 1vh, 
    var(--background2) calc(100% - 1vh), 
    transparent
    );
  text-align: center;;
  padding: 1vh;
  min-height: 66vh;
}

.Intro {
  width: 75vw;
  margin: auto;
}

#reset, #submit {
  background-color: rgb(34, 34, 60);
  color: aliceblue;
}
/* Total 17 vh in min-height*/
footer {
  padding: 1vh;
  min-height: 15vh;
  background-image: linear-gradient(
    transparent, 
    var(--background2) 1vh, 
    var(--background2) calc(100% - 1vh), 
    transparent
    );
  text-align: center;;
  text-align: center;
}

.Forms-Form {
  background: radial-gradient(rgb(17, 17, 30) 15%, transparent, rgb(17, 17, 30));
  width: 60vw;
  margin: auto;
  padding: 5%;

}

h2, h3, figcaption, figure {
  text-align: center;
}

a {
  color: var(--linkColor)
}

.bold {
  font-weight: 900;
}
#snr_photo {
  width: 10px;
}
table, td {
  border: 1px solid black;
  text-align: center;
}
td {
  padding: 1vh 1vw;
}

#tables-top-row {
  background-color: rgb(34, 34, 60);
}

.tables-tbody tr:nth-child(odd) {
  background-color: rgb(55,55,98);
}
input, textarea {
  background-color: aliceblue;
}

table {
  margin: auto;
}

.Italicize {
  font-style: italic;
}

.webEval-ul{
  text-align: start;
  width: 75%;
  margin-left: 8%;
}


.webEval-ul li{
  margin-bottom: .85vh;
}

.tables-ol {
  text-align: center;
  list-style-position: inside;
}
.ul-space {
  height: .75vh;
}


.intro-list {
  text-align: start;
}


@media only screen and (max-width: 600px) {
  main {
    width: 90%;
    margin: 0 auto;
    max-width: 600px;
  }
}
@media only screen and (max-width: 200px) {
  main {
    width: 85%;
    margin: 0 auto;
    max-width: 200px;
  }
}
@media only screen and (max-width: 400px) {
  main {
    width: 80%;
    margin: 0 auto;
    max-width: 400px;
  }
}
.project_info_part_list {
  text-align: left;
  padding: 0vh 8.5vw;
}
.project_info_part_list li {
  padding-bottom: 1.5vh;
}

.project_info_part {
  padding-top: 4vh;
  padding-left: 11vw;
  padding-right: 10vw;
}

.firstScripts-padding {
  padding: 2vh 7.5vw;
}
#wireframe {
  width: 65vw;
  padding-bottom: 1vh;
}
#wireframe-figure {
  padding-top: 1vh;
  padding-bottom: 1vh
}
#wireframe-para {
  text-align: left;
}

#sitemap-img {
  max-width: 100%
}

#sitemap-figure {
  padding: 1.5vh 0;
}

.project-overview-para {
  text-align: left;
  padding: .5vh 0;
}

.page-item {
  padding: 1vh 0;
}

.page-item p {
  text-align: left;
  padding: .5vh 0;
}


#calc-main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#calculator-box {
  display: flex;
  flex-direction: column;
  border: 2px solid aliceblue;
  aspect-ratio: 1/1.4;
  height: 55vh;
}
#calc-output-area {
  flex: 1.5 1 0;
  display: flex;
}
.calc-row {
  flex: 1 1 0;
  display: flex;
}

.calc-row * {
  flex: 1 1 0
}


#calc-0 {
  flex: 0 0 50%
}
#calc-decimal {
  flex: 0 0 25%;
}
#calc-equal {
  flex: 0 0 25%;
}
#calc-operator-area {
  flex: 0 0 12%;
  max-width: 12%;
}
#calc-num-output-area {
  flex: 1 1 0;
  display: flex;
  flex-direction: column;
}
#calc-area1 {
  flex: .3 1 0;
}
#calc-area2 {
  flex: 1 1 0;
  text-align: end;
  display: flex;
}
#calc-area2 div{
  align-self: flex-end;
  text-align: end;
  padding-right: 15px;
  padding-bottom: 15px;
  width: 100%;
  font-size: 125%;
}
.calc-button {
  background-color: var(--textColor1);
  border: 1px solid var(--background1);
  font-size: large;
}
.calc-button:hover {
  background-color: rgb(150, 220, 245);
}