h1, h2, nav, p {margin: 0}
body
{

  margin: 0;
  padding: 0;
  font-family:'Times New Roman', Times, serif;
  color: rgb(160, 230, 255);
  background-color: rgb(34, 34, 60);
}

/* total 15 vh in min-height*/
header {
  padding: 1vh;
  min-height: 13vh;
  background-image: linear-gradient(rgba(0,0,0,0), rgb(45,45,90) 1vh, rgb(45,45,90) calc(100% - 1vh), rgba(0,0,0,0));
  text-align: center;
}

/* total 68 vh in min-height*/
main {
  margin: 0;
  background-image: linear-gradient(rgba(0,0,0,0), rgb(45,45,90) 8px, rgb(45,45,90) calc(100% - 8px), rgba(0,0,0,0));
  padding: 1vh;
  min-height: 66vh;
}

#reset, #submit {
  background-color: rgb(34, 34, 60);
  color: aliceblue;
}
/* Total 17 vh in min-height*/
footer {
  padding: 1vh;
  min-height: 15vh;
  background-image: linear-gradient(rgba(0,0,0,0), rgb(45,45,90) 1vh, rgb(45,45,90) calc(100% - 1vh), rgba(0,0,0,0));
  text-align: center;
}

h2, h3, figcaption, figure {
  text-align: center;
}

a {
  color: rgb(120, 190, 130)
}

.bold {
  font-weight: 900;
}
img {
  width: 10px;
}
table, td {
  border: 1px solid black;
  text-align: center;
}
td {
  padding: 1vh 1vw;
}

#tables-top-row {
  background-color: rgb(34, 34, 60);
}

.tables-tbody tr:nth-child(odd) {
  background-color: rgb(55,55,98);
}
input, textarea {
  background-color: aliceblue;
}

table {
  margin: auto;
}

.Italicize {
  font-style: italic;
}