/* Overall Design */
:root {
    --background1: rgb(21, 21, 21);
    --background2_1: rgb(9,9,9);
    --background2_2: rgb(14,14,14);
    --background3: rgb(18,18,18);
    --textColor1: rgb(250,250,250);
    --linkColor: rgb(200, 200, 200);
}


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    background-color: var(--background1);
    font-family: Helvetica, sans-serif;
    color: var(--textColor1);
}


/* Boxing design */
.divit {
    background-color: var(--background3);
    border-style: solid;
    border-width: 10px;
    border-color: 
    var(--background2_1) 
    var(--background2_2) 
    var(--background2_2) 
    var(--background2_1);
}


/* Header Specifications */
/* total 15 vh in min-height*/
header {
    min-height: 25vh;
    text-align: center;
    color: var(--textColor1);
}

#title-area {
    margin: auto;
    padding-top: 2vh;
    width: 80%;
}

#title {
    margin: auto;
    padding: 1.5vh 1.5vw;
    width: 90%
}

#navbar-area {
    padding-bottom: 4vh;
    margin: 30px auto auto auto;
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
#navbar-area > a{
    flex-basis: 20%;
}


/* Main Specifications */
/* total 63 vh in min-height*/
main {
    margin: 0;
    text-align: center;
    padding: 2vh 1vw 4vh 1vw;
    min-height: 61vh;
}
main > :first-child {
    margin-top: 0;
}
main > * {
    margin: 2vh auto auto auto;
    width: max-content;
    padding: 1vh 2vw;
}

main > h2 {
    max-width: 70%;
    font-size: 28px;
}
main > h3 {
    margin-top: 6vh;
    padding: 1vh 6vw
}
main > p {
    min-width: 50%;
    max-width: 80%;
    text-align: left;
    line-height: 22.5px;
}
.section-area {
    width: 98%;
}
.small-text {
    text-align: center;
}


/* Footer Specifications */
footer {
    min-height: 14vh;
    padding: 1vh 2vw 2vh 2vw;
}
footer > div {
    margin: auto;
    width: 97.5%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row;
}
footer > div > * {
    text-align: center;
}
.footer-icon {
    padding: 0 15px;
}
.footer-icon > img {
    display: block;
    margin: auto;
}
#footer-text {
    padding: 3vh 0;
}



/* General Design Specifications */

a {
    color: var(--linkColor);
    text-decoration: none;
}
.link:hover{
    text-decoration: underline;
}


/*
    I Didn't Code This on my own, tho i did edit it:
    https://codingartistweb.com/2020/01/gold-text-effect-css-text-effect/
*/
.goldText {
    background-image: linear-gradient(
	to right,
	#f6e27a 0,
    #cb9b51 22%, 
	#f6e27a 45%,
	#f6f2c0 50%,
	#f6e27a 55%,
	#cb9b51 78%,
	#f6e27a 100%
	);
   color: transparent;
   background-clip: text;
}


.secondary-nav {
    min-width: 95%;
    max-width: 95%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.secondary-nav > * {
    padding: .5vh 4vw;
    flex-basis: calc(100%/3);
}

#jsIcon {
    width: 250px;
    margin: -15px 0 -35px 0;
}

.material-section:hover {
    cursor: pointer;
}

.divider-line {
    width: 100%;
    height: 3px;
    background-color: black;
    padding: 0;
    margin:0;
}
