.learning-section {
    padding: 1vh 0 2vh 0;
}
p {
    margin: auto;
    padding: 1vh 2vw;
    text-align: left;
    max-width: 90%;
}


#section1-variable-examples-button {
    display: flex;
    gap: 2vw;
    width: 80%;
    margin: auto;
}
#section1-variable-examples-button div {
    flex: .5 0 0;
    background-color: black;
    padding: 1.5vh 0;
    font-size: 2vh;
    cursor: default;
}

#section1-variable-examples p {
    text-align: center;
}

#section1-variable-examples-button *:hover{
    background-color: rgb(15,15,15);
}
#operating-try {
    display: flex;
    flex-direction: row;
    gap: 1vw;
    padding: 0 8vw;
}

#operating-try * {
    background-color: black;
    color: rgb(230,230,230);
    padding: 1vh 1vw;
}
.operand {
    width: 20%;
    flex: 1 0 0;
}
#operator {
    width: 11%;
    flex: .2 0 0;
}
#operating-equals{
    background-color: black;
    cursor: default;
    flex: .1 0 0;
}
#operating-equals:hover{
    background-color: rgb(15,15,15);
}
#operator-result {
    flex: .6 0 0;
}