<!--
    Icon, About and Help
-->
<div class="divit">
    <div class="footer-icon">
        <img src="./images/favicon.png" alt="Website Icon" width="25">
    </div>

    <div id="footer-text">
        For more information or general questions visit
        the <a href="./about.html" class="link"><span class="goldText">About</span></a> 
        and <a href="./help.html" class="link"><span class="goldText">Help</span></a> pages.
    </div>

    <div class="footer-icon">
        <img src="./images/favicon.png" alt="Website Icon" width="25">
    </div>
</div>
<div class="divit">
<p>
    Designed By: <a href="../ochsnerdesigns.com/" class="link"><span class="goldText">Ochsner Designs</span></a>, <a href="https://www.freecodecamp.org/certification/nochsner/responsive-web-design">Certified in RWD.</a> <a href="https://www.freecodecamp.org/certification/nochsner/javascript-algorithms-and-data-structures-v8">Certified in JS.</a>
</p>
</p>
<a href="https://validator.w3.org/check?uri=referer" id="validation_link_html">
    <img style="border:0;width:88px;height:31px" 
    src="https://mytienhoang.github.io/itis3135/z_archives/html_validation.png" 
    alt="Valid HTML!">
</a>
<a href="https://jigsaw.w3.org/css-validator/check/referer" id="validation_link_css">
    <img style="border:0;width:88px;height:31px" 
    src="https://jigsaw.w3.org/css-validator/images/vcss" 
    alt="Valid CSS!">
</a>
<script>
    document.getElementById("validation_link_html").setAttribute("href","https://validator.w3.org/check?uri=" + location.href);
    document.getElementById("validation_link_css").setAttribute("href","https://jigsaw.w3.org/css-validator/validator?uri=" + location.href);
</script>
</div>