<!--
    Icon, About and Help
-->
<div class="divit">
    <div class="footer-icon">
        <img src="./images/favicon.png" alt="Website Icon" width="25">
    </div>

    <div id="footer-text">
        For more information or general questions visit
        the <a href="./about.html"><span class="goldText">About</span></a> 
        and <a href="./help.html"><span class="goldText">Help</span></a> pages.
    </div>

    <div class="footer-icon">
        <img src="./images/favicon.png" alt="Website Icon" width="25">
    </div>
</div>