<div id="title-area">
    <h1 class="divit" id="title">
        Forging Your JavaScript Skills
    </h1>
</div>

<nav id="navbar-area">
    <a href="./">
        <div class="divit navbar-item">
            <span class="goldText">Home</span>
        </div>
    </a>
    <a href="./learning.html">
        <div class="divit navbar-item">
            <span class="goldText">Learning</span>
        </div>
    </a>
    <a href="./quizzes.html">
        <div class="divit navbar-item">
            <span class="goldText">Quizzes</span>
        </div>
    </a>
    <a href="./about.html">
        <div class="divit navbar-item">
            <span class="goldText">About</span>
        </div>
    </a>
    <a href="./help.html">
        <div class="divit navbar-item">
            <span class="goldText">Help</span>
        </div>
    </a>
</nav>
<script src="./scripts/navbars.js"></script>