<h1>
    Nick Ochsner's Nuanced Oyster | ITIS 3135
</h1>
<nav>
    <a href="./">
        Home
    </a>
    ||
    <a href="introduction.html">
        Introduction
    </a>
    ||
    <a href="contract.html">
        Contract
    </a>
    ||
    <a href="forms.html">
        Forms
    </a>
    ||
    <a href="tables.html">
        Tables
    </a>
    ||
    <a href="stuff/THIS weird page&&.htm">
        Crappy Web Site
    </a>
    ||
    <a href="website_evaluations.html">
        Website Evaluations
    </a>
</nav>